# ---- Python / Django ----
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# ---- Virtual Environment ----
.venv/
venv/
env/

# ---- Media & Static (user uploads) ----
/media/

# ---- Environment & Secrets ----
*.env
.env

# ---- OS / IDE files ----
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---- Logs ----
*.log
